{% extends "blog/base.html" %}

{% load static %}

{% block body %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-{{ message.tags }}">
                    <h6>Django messages might be shown here</h6>
                </div>
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{% static 'corey.jpeg' %}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'blog:user-post' %}">Jordan Gibbs</a>
                            <small class="text-muted">Feb 19, 2023</small>
                        </div>
                        <h5><a class="article-title" href="{% url 'blog:post-detail' %}">I have been watching a
                            decade.</a></h5>
                    </div>
                </article>
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{% static 'gibbs.jpeg' %}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'blog:user-post' %}">Jordan Gibbs </a>
                            <small class="text-muted">Feb 19, 2023</small>
                        </div>
                        <h5><a class="article-title" href="{% url 'blog:post-detail' %}">Do Gimmicky ChatGPT
                            Prompts
                            Actually
                            Work?</a></h5>
                    </div>
                </article>
            </div>
            {% include 'blog/sidebar.html' %}
        </div>
    </main>
{% endblock %}


