{% extends "blog/base.html" %}

{% load static %}

{% block body %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-{{ message.tags }}">
                    <h6>Django messages might be shown here</h6>
                </div>
                <div class="content-section">
                    <form method="post" action="{% url 'blog:new-post' %}">
                        <fieldset class="form-group">
                            <h1>Store Create Page</h1>
                            {% csrf_token %}
                            <legend class="border-bottom mb-4">Blog Post</legend>
                            {#                        <form method="post" action="{% url 'blog:post-form' %}">#}

                            {#                <button type="submit">Post</button>#}
                            {#                </form>#}

                            <div class="form-group">
                                <label for="title">Title</label>
                                {{ form.as_div }}
                                {#                    <input type="text" class="form-control" id="title" name="title"#}
                                {#                           placeholder="Enter the title">#}
                            </div>

                            <div class="form-group">
                                <label for="content">Content</label>
                                {{ form.as_div }}
                                {#                    <textarea class="form-control" id="content" name="content" rows="4"#}
                                {#                              placeholder="Enter the content"></textarea>#}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Post</button>
                        </div>
                    </form>
                </div>
            </div>
            {% include 'blog/sidebar.html' %}
        </div>
    </main>
{% endblock %}
        