{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'news/assets/css/main.css' %}">
    <link rel="stylesheet", href="{% static 'news/assets/css/register.css' %}">
    <title>Django Blog</title>
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'muhammadyor:home-page' %}">Django Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'muhammadyor:home-page' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'muhammadyor:about-page' %}">About</a>
                </div>
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'muhammadyor:post-form' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'muhammadyor:user-posts' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'muhammadyor:logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'muhammadyor:login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'muhammadyor:register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <h1> Registration Page</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>
    
</section>
</body>
</html>